n8n-workflows/flow8-task-completion-celebration.json
{
  "name": "Flow 10 - Task Completion Celebration",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "n8n/task-completed",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "task-completed-webhook"
    },
    {
      "parameters": {
        "url": "={{$env.BACKEND_API_URL}}/api/webhooks/n8n/task-owner-email/{{$json.body.task_id}}",
        "authentication": "none",
        "options": {}
      },
      "name": "HTTP: Get Task Owner Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "={{$env.BACKEND_API_URL}}/api/webhooks/n8n/tasks",
        "authentication": "none",
        "options": {}
      },
      "name": "HTTP: Get All Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "functionCode": "// Prepare congratulation message and next task suggestions\nconst taskInfo = $node['HTTP: Get Task Owner Email'].json;\nconst tasksResponse = $input.first().json;\nconst allTasks = tasksResponse.tasks || [];\nconst webhookData = $node['Webhook Trigger'].json.body;\n\nconst ownerId = taskInfo.owner_id;\n\n// Get owner's remaining tasks\nconst ownerTasks = allTasks.filter(t => \n  t.owner_id === ownerId && t.status !== 'done'\n);\n\n// Sort by priority and deadline\nconst priorityOrder = { critical: 0, high: 1, medium: 2, low: 3 };\nownerTasks.sort((a, b) => {\n  const priorityDiff = (priorityOrder[a.priority] || 3) - (priorityOrder[b.priority] || 3);\n  if (priorityDiff !== 0) return priorityDiff;\n  \n  const deadlineA = a.deadline ? new Date(a.deadline) : new Date('2099-12-31');\n  const deadlineB = b.deadline ? new Date(b.deadline) : new Date('2099-12-31');\n  return deadlineA - deadlineB;\n});\n\nconst nextTasks = ownerTasks.slice(0, 3);\n\n// Calculate stats\nconst completedCount = allTasks.filter(t => t.owner_id === ownerId && t.status === 'done').length;\nconst totalCount = allTasks.filter(t => t.owner_id === ownerId).length;\nconst completionRate = totalCount > 0 ? Math.round((completedCount / totalCount) * 100) : 0;\n\n// Build motivational message based on completion rate\nlet motivation = '';\nif (completionRate >= 90) {\n  motivation = '🏆 Xuất sắc! Bạn gần như hoàn thành tất cả!';\n} else if (completionRate >= 70) {\n  motivation = '🌟 Tuyệt vời! Bạn đang làm rất tốt!';\n} else if (completionRate >= 50) {\n  motivation = '👍 Tốt lắm! Tiếp tục duy trì nhé!';\n} else {\n  motivation = '💪 Tiếp tục cố gắng! Mỗi bước nhỏ đều quan trọng!';\n}\n\nreturn {\n  json: {\n    task_id: taskInfo.task_id,\n    task_name: taskInfo.task_name,\n    project_name: taskInfo.project_name,\n    owner_email: taskInfo.owner_email,\n    owner_name: taskInfo.owner_name,\n    completed_count: completedCount,\n    total_count: totalCount,\n    remaining_count: totalCount - completedCount,\n    completion_rate: completionRate,\n    motivation: motivation,\n    next_tasks: nextTasks,\n    actual_hours: webhookData.actual_hours || null\n  }\n};"
      },
      "name": "Function: Prepare Celebration Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.owner_email}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "IF: Has Email",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "functionCode": "// Build next tasks HTML\nconst data = $input.first().json;\nconst nextTasks = data.next_tasks || [];\n\nconst nextTasksHtml = nextTasks.length > 0 \n  ? nextTasks.map((t, i) => {\n      const deadlineStr = t.deadline \n        ? new Date(t.deadline).toLocaleDateString('vi-VN')\n        : 'Chưa đặt';\n      const priorityEmoji = {\n        critical: '🔴',\n        high: '🟠',\n        medium: '🟡',\n        low: '🟢'\n      }[t.priority] || '⚪';\n      \n      return `<div style=\"background: white; padding: 12px; border-radius: 8px; margin: 8px 0; border-left: 4px solid ${t.priority === 'critical' || t.priority === 'high' ? '#ef4444' : '#3b82f6'};\">\n        <strong>${i + 1}. ${t.name}</strong><br>\n        <small style=\"color: #666;\">${priorityEmoji} ${t.priority.toUpperCase()} • Deadline: ${deadlineStr} • Tiến độ: ${t.progress || 0}%</small>\n      </div>`;\n    }).join('')\n  : '<p style=\"color: #10b981;\">🎉 Bạn đã hoàn thành tất cả tasks! Nghỉ ngơi xứng đáng nhé!</p>';\n\nreturn {\n  json: {\n    ...data,\n    next_tasks_html: nextTasksHtml\n  }\n};"
      },
      "name": "Function: Format Email Content",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{$env.EMAIL_FROM}}",
        "toEmail": "={{$json.owner_email}}",
        "subject": "🎉 Chúc mừng! Bạn đã hoàn thành \"{{$json.task_name}}\"",
        "emailType": "html",
        "text": "=Xin chào {{$json.owner_name}}!\n\n🎉 CHÚC MỪNG BẠN ĐÃ HOÀN THÀNH TASK!\n\n✅ Task: {{$json.task_name}}\n📁 Dự án: {{$json.project_name}}\n\n📊 TIẾN ĐỘ CỦA BẠN:\n- Đã hoàn thành: {{$json.completed_count}}/{{$json.total_count}} tasks\n- Tỷ lệ: {{$json.completion_rate}}%\n- Còn lại: {{$json.remaining_count}} tasks\n\n{{$json.motivation}}\n\n📋 TASKS TIẾP THEO GỢI Ý:\n(Dựa trên độ ưu tiên và deadline)\n\nTiếp tục làm việc: http://localhost:5173/tasks\n\n---\nEmail tự động từ AI Deadline - Công cụ quản lý deadline CÁ NHÂN của bạn",
        "html": "=<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: linear-gradient(135deg, #10b981 0%, #059669 100%); color: white; padding: 30px; text-align: center; border-radius: 10px 10px 0 0; }\n    .celebration { font-size: 60px; margin-bottom: 10px; }\n    .content { background: #f9f9f9; padding: 25px; }\n    .completed-task { background: #ecfdf5; border: 2px solid #10b981; border-radius: 10px; padding: 20px; margin: 15px 0; text-align: center; }\n    .stats-row { display: flex; justify-content: space-around; background: white; border-radius: 10px; padding: 20px; margin: 15px 0; }\n    .stat { text-align: center; }\n    .stat-value { font-size: 28px; font-weight: bold; color: #10b981; }\n    .stat-label { font-size: 12px; color: #666; }\n    .motivation-box { background: linear-gradient(135deg, #fef3c7 0%, #fde68a 100%); border-radius: 10px; padding: 15px; margin: 15px 0; text-align: center; font-size: 18px; }\n    .next-tasks { background: white; border-radius: 10px; padding: 20px; margin: 15px 0; }\n    .section-title { font-weight: bold; margin-bottom: 15px; display: flex; align-items: center; gap: 8px; }\n    .footer { text-align: center; padding: 20px; color: #666; font-size: 12px; background: #f9f9f9; border-radius: 0 0 10px 10px; }\n  </style>\n</head>\n<body>\n  <div class='container'>\n    <div class='header'>\n      <div class='celebration'>🎉</div>\n      <h1>Chúc mừng!</h1>\n      <p style='margin: 0; opacity: 0.9;'>Bạn đã hoàn thành một task!</p>\n    </div>\n    <div class='content'>\n      \n      <div class='completed-task'>\n        <div style='font-size: 24px; margin-bottom: 5px;'>✅</div>\n        <h2 style='margin: 0; color: #059669;'>{{$json.task_name}}</h2>\n        <p style='margin: 5px 0 0 0; color: #666;'>Dự án: {{$json.project_name}}</p>\n      </div>\n      \n      <div class='stats-row'>\n        <div class='stat'>\n          <div class='stat-value'>{{$json.completed_count}}</div>\n          <div class='stat-label'>Đã hoàn thành</div>\n        </div>\n        <div class='stat'>\n          <div class='stat-value'>{{$json.remaining_count}}</div>\n          <div class='stat-label'>Còn lại</div>\n        </div>\n        <div class='stat'>\n          <div class='stat-value'>{{$json.completion_rate}}%</div>\n          <div class='stat-label'>Tỷ lệ hoàn thành</div>\n        </div>\n      </div>\n      \n      <div class='motivation-box'>\n        {{$json.motivation}}\n      </div>\n      \n      <div class='next-tasks'>\n        <div class='section-title'>📋 Gợi ý tasks tiếp theo</div>\n        <p style='color: #666; font-size: 12px; margin-top: 0;'>Sắp xếp theo độ ưu tiên và deadline</p>\n        {{$json.next_tasks_html}}\n      </div>\n      \n      <div style='text-align: center; margin-top: 25px;'>\n        <a href='http://localhost:5173/tasks' style='display: inline-block; background: linear-gradient(135deg, #10b981 0%, #059669 100%); color: white; padding: 14px 35px; text-decoration: none; border-radius: 25px; font-weight: bold;'>\n          Tiếp tục làm việc →\n        </a>\n      </div>\n      \n      <p style='text-align: center; margin-top: 20px; color: #666;'>\n        Mỗi task hoàn thành là một bước tiến! 🚀\n      </p>\n    </div>\n    <div class='footer'>\n      <p>Email tự động từ <strong>AI Deadline Forecasting Agent</strong></p>\n      <p><em>Công cụ quản lý deadline CÁ NHÂN của bạn</em></p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "name": "Send Email: Celebration",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1560, 300],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$env.BACKEND_API_URL}}/api/webhooks/n8n/automation-log",
        "authentication": "none",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow_name",
              "value": "Task Completion Celebration"
            },
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "input_data",
              "value": "={{JSON.stringify({task_id: $json.task_id, task_name: $json.task_name})}}"
            },
            {
              "name": "output_data",
              "value": "={{JSON.stringify({owner_email: $json.owner_email, completion_rate: $json.completion_rate})}}"
            }
          ]
        },
        "options": {}
      },
      "name": "HTTP: Log to Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify({success: true, message: 'Celebration email sent', completion_rate: $json.completion_rate})}}",
        "options": {}
      },
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2000, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "HTTP: Get Task Owner Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Get Task Owner Email": {
      "main": [
        [
          {
            "node": "HTTP: Get All Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Get All Tasks": {
      "main": [
        [
          {
            "node": "Function: Prepare Celebration Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function: Prepare Celebration Data": {
      "main": [
        [
          {
            "node": "IF: Has Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Has Email": {
      "main": [
        [
          {
            "node": "Function: Format Email Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function: Format Email Content": {
      "main": [
        [
          {
            "node": "Send Email: Celebration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email: Celebration": {
      "main": [
        [
          {
            "node": "HTTP: Log to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Log to Backend": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "10",
  "id": "10",
  "meta": {
    "instanceId": "ai_deadline_n8n"
  },
  "tags": []
}
