n8n-workflows/flow1-progress-forecast.json
{
  "name": "Flow 1 - Quick Progress Forecast",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "name": "Cron Trigger (Every 1 minute)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "={{$env.BACKEND_API_URL}}/api/webhooks/n8n/projects",
        "authentication": "none",
        "options": {}
      },
      "name": "HTTP: Get Projects",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "={{$env.BACKEND_API_URL}}/api/webhooks/n8n/tasks",
        "authentication": "none",
        "options": {}
      },
      "name": "HTTP: Get Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "functionCode": "// Prepare prompt for Gemini AI\nconst tasks = $input.all();\nconst taskData = [];\n\nfor (const task of tasks) {\n  const t = task.json;\n  taskData.push({\n    id: t.id,\n    name: t.name,\n    progress: t.progress || 0,\n    deadline: t.deadline,\n    status: t.status,\n    priority: t.priority\n  });\n}\n\nif (taskData.length === 0) {\n  return [];\n}\n\nconst prompt = `Bạn là chuyên gia quản lý dự án. Phân tích các task sau và dự đoán nguy cơ trễ deadline:\n\n${JSON.stringify(taskData, null, 2)}\n\nVới mỗi task, đánh giá:\n- risk_level: \"low\", \"medium\", \"high\", hoặc \"critical\"\n- risk_percentage: 0-100 (số thực)\n- predicted_delay_days: số ngày dự đoán trễ (0 nếu không trễ)\n- analysis: phân tích ngắn gọn bằng tiếng Việt\n- recommendations: khuyến nghị cụ thể bằng tiếng Việt\n\nTrả về CHÍNH XÁC định dạng JSON array sau:\n[\n  {\n    \"task_id\": 1,\n    \"risk_level\": \"high\",\n    \"risk_percentage\": 75.5,\n    \"predicted_delay_days\": 3,\n    \"analysis\": \"Task đang ở 60% sau 80% thời gian\",\n    \"recommendations\": \"Cần bổ sung nhân lực\"\n  }\n]`;\n\nreturn {\n  json: {\n    prompt: prompt,\n    taskData: taskData\n  }\n};"
      },
      "name": "Function: Prepare AI Prompt",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-lite:generateContent?key={{$env.GEMINI_API_KEY}}",
        "authentication": "none",
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": {{JSON.stringify($json.prompt)}}\n        }\n      ]\n    }\n  ]\n}",
        "options": {
          "retry": {
            "values": {
              "maxTries": 3,
              "retryOnStatusCodes": {
                "values": [
                  {
                    "statusCode": "429,500,502,503,504"
                  }
                ]
              },
              "waitBetweenTries": 2000
            }
          },
          "timeout": 60000
        }
      },
      "name": "HTTP: Gemini API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "functionCode": "// Parse AI response and extract JSON\nconst response = $input.first().json;\nlet results = [];\n\ntry {\n  const text = response.candidates[0].content.parts[0].text;\n  \n  // Try to extract JSON from response\n  const jsonMatch = text.match(/\\[.*\\]/s);\n  if (jsonMatch) {\n    results = JSON.parse(jsonMatch[0]);\n  }\n} catch (error) {\n  console.log('Error parsing AI response:', error);\n  // Return empty array if parsing fails\n  return [];\n}\n\n// Return each result as separate item for next node\nreturn results.map(r => ({ json: r }));"
      },
      "name": "Function: Parse AI Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "url": "={{$env.BACKEND_API_URL}}/api/webhooks/n8n/forecast-complete",
        "authentication": "none",
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"task_id\": {{$json.task_id}},\n  \"risk_level\": {{JSON.stringify($json.risk_level)}},\n  \"risk_percentage\": {{$json.risk_percentage}},\n  \"predicted_delay_days\": {{$json.predicted_delay_days || 0}},\n  \"ai_analysis\": {{JSON.stringify($json.analysis || \"Không có phân tích\")}},\n  \"recommendations\": {{JSON.stringify($json.recommendations || \"Không có khuyến nghị\")}}\n}",
        "options": {}
      },
      "name": "HTTP: Save Forecast",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.risk_percentage}}",
              "operation": "larger",
              "value2": 70
            }
          ]
        }
      },
      "name": "IF: High Risk Detected",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "url": "={{$env.BACKEND_API_URL}}/api/webhooks/n8n/task-owner-email/{{$json.task_id}}",
        "authentication": "none",
        "options": {}
      },
      "name": "HTTP: Get Task Owner Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "functionCode": "// Lấy email của project owner (chủ sở hữu task)\nconst taskInfo = $input.first().json;\nconst riskData = $node['IF: High Risk Detected'].json;\n\n// Tasks thuộc về project owner - gửi email cho chính họ\nconst recipientEmail = taskInfo.owner_email;\nconst recipientName = taskInfo.owner_name || 'User';\n\nreturn {\n  json: {\n    recipientEmail: recipientEmail,\n    recipientName: recipientName,\n    taskId: riskData.task_id,\n    taskName: taskInfo.task_name,\n    taskProgress: taskInfo.task_progress || 0,\n    taskDeadline: taskInfo.task_deadline,\n    projectName: taskInfo.project_name,\n    riskLevel: riskData.risk_level,\n    riskPercentage: riskData.risk_percentage,\n    predictedDelay: riskData.predicted_delay_days,\n    analysis: riskData.analysis,\n    recommendations: riskData.recommendations\n  }\n};"
      },
      "name": "Function: Prepare Email Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [2220, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{$env.EMAIL_FROM}}",
        "toEmail": "={{$json.recipientEmail}}",
        "subject": "⚠️ Cảnh báo: Task của bạn có nguy cơ trễ cao",
        "emailType": "html",
        "text": "=Xin chào {{$json.recipientName}},\n\nHệ thống AI phát hiện task của bạn có nguy cơ trễ deadline cao.\n\n📋 Task của bạn:\n- Tên task: {{$json.taskName}}\n- Dự án: {{$json.projectName}}\n- Task ID: #{{$json.taskId}}\n- Tiến độ hiện tại: {{$json.taskProgress}}%\n- Deadline: {{$json.taskDeadline}}\n\n🚨 Mức độ rủi ro:\n- Risk Level: {{$json.riskLevel}}\n- Risk Percentage: {{$json.riskPercentage}}%\n- Dự đoán trễ: {{$json.predictedDelay}} ngày\n\n🤖 Phân tích AI:\n{{$json.analysis}}\n\n💡 Khuyến nghị:\n{{$json.recommendations}}\n\nCập nhật Task ngay: http://localhost:5173/tasks\n\n---\nEmail này được gửi tự động từ hệ thống AI Deadline Forecasting Agent.\nTask này thuộc về bạn - chỉ bạn mới có thể cập nhật nó.",
        "html": "=<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; background: #f9f9f9; }\n    .header { background: #dc2626; color: white; padding: 20px; text-align: center; border-radius: 5px 5px 0 0; }\n    .content { background: white; padding: 30px; border-radius: 0 0 5px 5px; }\n    .alert-box { background: #fee; border-left: 4px solid #dc2626; padding: 15px; margin: 15px 0; }\n    .info-box { background: #f0f9ff; border-left: 4px solid #0ea5e9; padding: 15px; margin: 15px 0; }\n    .risk-badge { display: inline-block; padding: 5px 15px; border-radius: 20px; font-weight: bold; }\n    .risk-high { background: #dc2626; color: white; }\n    .risk-critical { background: #991b1b; color: white; }\n  </style>\n</head>\n<body>\n  <div class='container'>\n    <div class='header'>\n      <h2>⚠️ CẢNH BÁO NGUY CƠ TRỄ DEADLINE</h2>\n    </div>\n    <div class='content'>\n      <p>Xin chào <strong>{{$json.recipientName}}</strong>,</p>\n      <p>Hệ thống AI phát hiện <strong>task của bạn</strong> có nguy cơ trễ deadline cao.</p>\n      \n      <div class='alert-box'>\n        <h3>📋 Task của bạn</h3>\n        <ul>\n          <li><strong>Tên task:</strong> {{$json.taskName}}</li>\n          <li><strong>Dự án:</strong> {{$json.projectName}}</li>\n          <li><strong>Task ID:</strong> #{{$json.taskId}}</li>\n          <li><strong>Tiến độ hiện tại:</strong> {{$json.taskProgress}}%</li>\n          <li><strong>Deadline:</strong> {{$json.taskDeadline}}</li>\n        </ul>\n      </div>\n      \n      <div class='alert-box'>\n        <h3>🚨 Mức độ rủi ro</h3>\n        <p>\n          <span class='risk-badge {{$json.riskLevel === \"critical\" ? \"risk-critical\" : \"risk-high\"}}'>\n            {{$json.riskLevel.toUpperCase()}}\n          </span>\n        </p>\n        <ul>\n          <li><strong>Risk Level:</strong> {{$json.riskLevel}}</li>\n          <li><strong>Risk Percentage:</strong> {{$json.riskPercentage}}%</li>\n          <li><strong>Dự đoán trễ:</strong> {{$json.predictedDelay}} ngày</li>\n        </ul>\n      </div>\n      \n      <div class='info-box'>\n        <h3>🤖 Phân tích AI</h3>\n        <p>{{$json.analysis}}</p>\n      </div>\n      \n      <div class='info-box'>\n        <h3>💡 Khuyến nghị</h3>\n        <p>{{$json.recommendations}}</p>\n      </div>\n      \n      <p style='margin-top: 30px;'>\n        <a href='http://localhost:5173/tasks' style='display: inline-block; background: #0ea5e9; color: white; padding: 12px 30px; text-decoration: none; border-radius: 5px;'>\n          Cập nhật Task ngay\n        </a>\n      </p>\n      \n      <p style='color: #666; font-size: 12px; margin-top: 30px;'>\n        <em>Email này được gửi tự động từ hệ thống AI Deadline Forecasting Agent.</em><br>\n        <em>Task này thuộc về bạn - chỉ bạn mới có thể cập nhật nó.</em>\n      </p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "name": "Send Email: Alert to Owner",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [2440, 300],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP Account"
        }
      }
    }
  ],
  "connections": {
    "Cron Trigger (Every 1 minute)": {
      "main": [
        [
          {
            "node": "HTTP: Get Projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Get Projects": {
      "main": [
        [
          {
            "node": "HTTP: Get Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Get Tasks": {
      "main": [
        [
          {
            "node": "Function: Prepare AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function: Prepare AI Prompt": {
      "main": [
        [
          {
            "node": "HTTP: Gemini API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Gemini API": {
      "main": [
        [
          {
            "node": "Function: Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function: Parse AI Response": {
      "main": [
        [
          {
            "node": "HTTP: Save Forecast",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Save Forecast": {
      "main": [
        [
          {
            "node": "IF: High Risk Detected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: High Risk Detected": {
      "main": [
        [
          {
            "node": "HTTP: Get Task Owner Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Get Task Owner Email": {
      "main": [
        [
          {
            "node": "Function: Prepare Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function: Prepare Email Data": {
      "main": [
        [
          {
            "node": "Send Email: Alert to Owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1",
  "id": "1",
  "meta": {
    "instanceId": "ai_deadline_n8n"
  },
  "tags": []
}
